[Unit]
Description=My Node.js App
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/apps/webapp/server.js
Restart=always
User=csye6225
Group=csye6225
Environment=PORT=5173
WorkingDirectory=/opt/apps/webapp

[Install]
WantedBy=multi-user.target